version: "3.9"

services:
  postgres:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: noj
      POSTGRES_PASSWORD: noj_dev_password_change_me
      POSTGRES_DB: noj
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    command: redis-server --requirepass 7T4oPwfkvqJtLf5ZAFjg5vQOljqHTCWF
    ports:
      - "127.0.0.1:6379:6379"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: noj_minio
      MINIO_ROOT_PASSWORD: noj_minio_dev_password_change_me
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9001:9001"
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  minio_data:
